DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DEBUG=False
ALLOWED_HOSTS=your-domain.com,www.your-domain.com,server-ip
CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com

POSTGRES_DB=lms
POSTGRES_USER=lms_user
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
